.story-ctn {
  width: 100%;
  height: 120px;
  display: flex;
  gap: 10px;    
  align-items: center;
   overflow-x: auto;   /* enables horizontal scroll for the extra stories */
  overflow-y: hidden;
  white-space: nowrap; /* keep items in one line */
  padding: 5px 6px;   /* small padding to avoid clipping */
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
  scrollbar-width: none; 
 
}
.story-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 8px;
  cursor: pointer;
}

.story-inner-ctn {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
  border-radius: 50%;
  padding: 3px;   
}

.story-inner-ctn img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover; 
}